SLACK_BOT_TOKEN=xoxb-paste-from-slack-app
SLACK_APP_TOKEN=xapp-paste-from-slack-app
ALLOWED_USER_ID=U-your-slack-user-id
CLAUDE_CHANNEL_ID=C-your-channel-id
DEFAULT_CWD=/Users/noahchun/Developer/blackbird/official-repos
